# Ignore all .jar files in the plugins directory
*.jar
*.iso

# Ignore the plugins directory itself
plugins/*

# Include all .placeholder files
!*.placeholder

# Ignore the windows folder where all Windows files are downloaded
windows/
